.ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  width: 500px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px;
}

.ticket-header {
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
}

.flight-data {
  display: flex;
  flex-direction: column;
}

.ticket-price {
  flex: 1 1 auto;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196F3;

}

.ticket-logo {
  flex: 1 1 auto;
  text-align: center;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #A0B0B9;
  text-align: left;
}

.row {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
  text-align: left;
}

.container {
  margin-top: 10px;
  flex: 1 1 33.333%;
}


@media (max-width: 480px) {
  .ticket {
    width: 300px;
  }

  .ticket-logo {
    text-align: right;
  }

  .ticket-header {
    padding-right: 20px;
  }

  .ticket-price {
    font-size: 20px;
  }

  .title {
    font-size: 10px;
  }

  .subtitle {
    font-size: 12px;
  }
}