.header {
  margin: 45px 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ticketList {
  margin-bottom: 20px;
}

.content {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .content {
    margin-left: 0;
  }
}
