.container {
  text-align: center;
}

.header {
  margin: 45px 0;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.col-4 {
  grid-column: span 4;
}

.col-8 {
  grid-column: span 8;
}

.filter {
  background: #fff;
  height: 250px;
  border: 1px solid #DFE5EC;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.tabs {
  background: #fff;
  height: 50px;
  border: 1px solid #DFE5EC;
  margin-bottom: 20px;
  border-radius: 5px;
}

.ticket {
  height: 180px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}